[user]
	name = Brandon Siegel
	email = brandon@smartercode.net
	signingkey = 06755CF1
[color]
	ui = auto
[alias]
  d = diff --word-diff
  lg = log --color --oneline
  co = checkout
  mb = merge --no-ff --edit
[push]
  default = upstream
[pull]
  rebase = true
[mergetool "kdiff3"]
	path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[merge]
	tool = kdiff3
[diff]
	algorithm = patience
[rebase]
	autosquash = true
	autostash = true
