[user]
  name = Brandon Siegel
  email = brandon@smartercode.net
[color]
  ui = auto
[alias]
  d = diff --word-diff
  lg = log --color --oneline
  co = checkout
  mb = merge --no-ff --edit
  stop-packing = gc --prune=now
  pancake = !git fetch && git reset --hard $(git rev-parse --abbrev-ref --symbolic-full-name @{u})
  cleanup = !zsh -c 'rm **/*.orig'
  upcake = !git fetch upstream && git reset --hard upstream/$(git rev-parse --abbrev-ref --symbolic-full-name HEAD)
[push]
  default = upstream
[pull]
  rebase = true
  twohead = ort
[rebase]
  autosquash = true
  autostash = true
[diff]
  algorithm = histogram
  tool = kdiff3
  compactionHeuristic = true
  colorMoved = default
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[mergetool]
  prompt = false
  keepBackup = false
[difftool "kdiff3"]
  path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[mergetool "kdiff3"]
  cmd = kdiff3 --auto --L1 \"$MERGED (Original)\" --L2 \"$MERGED (Changes in $(git name-rev --name-only --exclude='remotes/*' $(test -f .git/MERGE_HEAD && cat .git/ORIG_HEAD || cat .git/rebase-merge/onto)))\" --L3 \"$MERGED (Changes in $(git name-rev --name-only --exclude='remotes/*' $(test -f .git/MERGE_HEAD && cat .git/MERGE_HEAD || cat .git/ORIG_HEAD)))\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
[mergetool "kdiff3NoAuto"]
  cmd = kdiff3 --L1 \"$MERGED (Original)\" --L2 \"$MERGED (Changes in $(git name-rev --name-only --exclude='remotes/*' $(test -f .git/MERGE_HEAD && cat .git/ORIG_HEAD || cat .git/rebase-merge/onto)))\" --L3 \"$MERGED (Changes in $(git name-rev --name-only --exclude='remotes/*' $(test -f .git/MERGE_HEAD && cat .git/MERGE_HEAD || cat .git/ORIG_HEAD)))\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
[interactive]
  diffFilter = delta --color-only
[core]
  excludesfile = /Users/brsiegel/.gitignore_global
  pager = delta
[checkout]
  defaultRemote = origin
[delta]
  features = line-numbers
[feature]
  manyFiles = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[init]
  defaultBranch = main
[oh-my-zsh]
  hide-status = 1
