[user]
  name = Brandon Siegel
  email = brandon@smartercode.net
[color]
  ui = auto
[alias]
  d = diff --word-diff
  lg = log --color --oneline
  co = checkout
  mb = merge --no-ff --edit
  stop-packing = gc --prune=now
  pancake = !git fetch && git reset --hard $(git rev-parse --abbrev-ref --symbolic-full-name @{u})
  cleanup = !zsh -c 'rm **/*.orig'
  upcake = !git fetch upstream && git reset --hard upstream/$(git rev-parse --abbrev-ref --symbolic-full-name HEAD)
[push]
  default = upstream
[pull]
  rebase = true
[rebase]
  autosquash = true
  autostash = true
[diff]
  algorithm = histogram
  tool = kdiff3
  compactionHeuristic = true
  colorMoved = default
[merge]
  tool = kdiff3
[difftool]
  prompt = false
[mergetool]
  prompt = false
  keepBackup = false
[difftool "kdiff3"]
  path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[mergetool "kdiff3"]
  path = /Applications/kdiff3.app/Contents/MacOS/kdiff3
[difftool "sourcetree"]
  cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
  cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
  trustExitCode = true
[difftool "meld"]
  path = /Applications/Meld.app/Contents/MacOS/Meld
[mergetool "meld"]
  path = /Applications/Meld.app/Contents/MacOS/Meld
[interactive]
  diffFilter = delta --color-only
[core]
  excludesfile = /Users/brsiegel/.gitignore_global
  pager = delta
[checkout]
  defaultRemote = origin
[delta]
  features = line-numbers
[feature]
  manyFiles = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[oh-my-zsh]
	hide-status = 1
